@import "colors";
@import "fonts";
@import "shapes";
@import "titles";
@import "day";
@import "imageWidget";
@import "bootstrap";

.clear {
  height: 0px;
  border: 0;
  margin: 0;
  padding: 0;
  clear: both;
}