@import "colors";
@import "fonts";
@import "shapes";
@import "titles";
@import "day";
@import "recipe";
@import "search";
@import "settings";
@import "buttons";
@import "tabs";
@import "layout";
@import "android";
@import "ios";
@import "imageWidget";
@import "bootstrap";


.main-nav {
  padding-left: 10px;
  padding-right: 10px;
}
.main-nav .title {
  margin-left: 5px;
}
.main-nav.bb-hidden .title {
  margin-left: 28px;
}