.main-nav .back-button {

}

.main-nav.bb-visible .back-button {

}

.main-nav.bb-hidden .back-button {
  display: none;
}

.favorite {
  margin-right: 7px;
}
.favorite-saved {
  color: $yellow;
}

.tab-style {
  display: inline-block;
  margin: 0;

  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;

  padding: 15px 1px;

  cursor: pointer;

  background: $lightGray;
  background: -moz-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $lightGray), color-stop(100%, $whiteGray));
  background: -webkit-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -o-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -ms-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: linear-gradient(to bottom, $lightGray 0%, $whiteGray 100%);
}

.tab-style:not(:first-child) {
  border-left: 1px solid $darkGray;
}

.tab-style.tab-style-active {
  background: $mediumGray;
  color: $limeGreen;
}

.facebook-button {
  background: url(images/facebook.png) no-repeat 8px center $facebookBlue;
  width: 100%;
  padding: 10px 10px 10px 46px;
  color:  white;
  font-weight: bold;
  border-radius: 4px;
}

/**
* This is needed because on mobile safari any element that doesn't
* have a cursor set to pointer, and isn't a button or anchor doesn't
* have the click event handler attached/it is ignored.
**/
.clickable {
  cursor: pointer;
}
