$yellow: rgb(255, 207, 1);
$orange: rgb(240, 83, 45);
$brightAqua: rgb(0, 179, 216);
$darkAqua: rgb(0, 179, 197);
$hunterGreen: rgb(0, 105, 87);
$green: rgb(130, 197, 91);
$limeGreen: rgb(178, 210, 53);
$lightGreen: rgb(220, 239, 159);
$powderBlue: rgb(188, 230, 247);
$cadetBlue: rgb(55, 138, 184);
$lightBlue: rgb(163, 222, 246);
$darkGray: rgb(35, 31, 32);
$mediumGray: rgb(68, 64, 65);
$lightGray: rgb(155, 153, 153);
$whiteGray: rgb(249, 249, 249);

