$yellow: rgb(255, 207, 1);
$orange: rgb(240, 83, 45);
$brightAqua: rgb(0, 179, 216);
$darkAqua: rgb(0, 179, 197);
$hunterGreen: rgb(0, 105, 87);
$green: rgb(130, 197, 91);
$limeGreen: rgb(178, 210, 53);
$lightGreen: rgb(220, 239, 159);
$powderBlue: rgb(188, 230, 247);
$cadetBlue: rgb(55, 138, 184);
$lightBlue: rgb(163, 222, 246);
$darkGray: rgb(35, 31, 32);
$mediumGray: rgb(68, 64, 65);
$lightGray: rgb(155, 153, 153);
$whiteGray: rgb(249, 249, 249);

$lighten15: rgba(255, 255, 255, 0.15);
$lightenQuarter: rgba(255, 255, 255, 0.25);
$lighten33: rgba(255, 255, 255, 0.33);
$lightenHalf: rgba(255, 255, 255, 0.5);
$lighten66: rgba(255, 255, 255, 0.66);
$lighten75: rgba(255, 255, 255, 0.75);

$darken15: rgba(0, 0, 0, 0.15);
$darkenQuarter: rgba(0, 0, 0, 0.25);
$darken33: rgba(0, 0, 0, 0.33);
$darkenHalf: rgba(0, 0, 0, 0.5);
$darken66: rgba(0, 0, 0, 0.66);
$darken75: rgba(0, 0, 0, 0.75);

$facebookBlue: rgb(59,89,152);