#day-view {
  background: $darken15;
  display: block;
  width: 100%;
  overflow-y: auto;
}

#day-view .slick-list {
  overflow-y: hidden;
}

#day-view .slick-slider {
  margin-bottom: 0;
}

.slick-slide.day {
  height: 100%;
  overflow-y: auto;
}