#searchOptions .tab-style {
  padding: 7px 1px;
  width: 50%;
  float: left;
}

.searchBox {
  clear: both;
  padding-top: 10px;
  background: $powderBlue;
}

.searchBox input {
  width: 94%;
  margin-left: 3%;
  padding-left: 3px;
}

.sortOptions {
  padding-top: 10px;
}

.searchResults {
  clear: both;
  padding-top: 10px;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.searchResults .media {
  margin: 0 auto;
}

.searchResults .media-left {
  width: 64px;
  display: inline-block;
  float: left;

}
.searchResults p {
  margin-bottom: 2px;
}

.no-results {
  clear: both;
  padding-top: 10px;
}

.search-button {
  padding-left: 6px;
}