.vka-em-tab-list {
  width: 100%;
}

.vka-em-tab {
  display: inline-block;
  width: 25%;
  margin: 0;
  float: left;

  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;

  padding: 15px 1px;

  background: $lightGray;
  background: -moz-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $lightGray), color-stop(100%, $whiteGray));
  background: -webkit-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -o-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: -ms-linear-gradient(top, $lightGray 0%, $whiteGray 100%);
  background: linear-gradient(to bottom, $lightGray 0%, $whiteGray 100%);
}

.vka-em-tab:not(:first-child) {
  border-left: 1px solid $darkGray;
}

.vka-em-tab.vka-tab-active {
  background: $mediumGray;
  color: $limeGreen;
}

.vka-em-tab-panel {
  clear: both;
}