.greenBox .title {
  font-weight: bold;
  margin-top: 0;
}
.darkGrayBar .title {
  display: inline-block;
  padding-left: 15px;
  margin-right: 85px;
}
.title {
  font-weight: bold;
  margin-top: 0;
}

.smaller {
  font-size: 0.9rem;
}

.smallest {
  font-size: 0.8rem;
}