<div class="imageWidget">
  <!--// Green bar //-->
  <div class="greenBar">
    <!--// Blue Triangle //-->
    <div class="triangle"></div>
  </div>

  <!--//Include Images//-->
  {{#if images}}

  {{else}}
    <img src="images/default.png" />
  {{/if}}

<div class="clear"></div>
</div>