<div class="imageWidget">
  <!--// Green bar //-->
  <div class="greenBar">
    <!--// Blue Triangle //-->
    <div class="triangle"></div>
  </div>

  <!--//Include Images//-->

<div class="clear"></div>
</div>