<span {{action "backAction"}} class="glyphicon glyphicon-chevron-left back-button left {{backButtonClass}}"></span>
<span class="title nav-title">VEGETARIANO EN 21 DÍAS</span>
<span {{action "settingsAction"}} class="glyphicon glyphicon-cog settings-button right"></span>